Repository XanaduAI/strawberryfields, pull requests merged in 2019-05, with the labels that each got.

#72 Created a pytest mark for broken tests
  tests/conftest.py
  tests/frontend/test_circuitdrawer.py
  tests/frontend/test_ops_decompositions.py
  tests/integration/test_engine_integration.py
Labels: review-ready, tests

#74 Make sure tests run succesfully with a nonstandard hbar value
  strawberryfields/ops.py
  tests/backend/test_loss_channel.py
  tests/backend/test_multimode_state_preparations.py
  tests/backend/test_states.py
  tests/backend/test_states_polyquad.py
  tests/backend/test_states_wigner.py
  tests/backend/test_symbolic.py
  tests/conftest.py
  tests/frontend/test_decompositions.py
  tests/frontend/test_ops_decompositions.py
  tests/integration/test_decompositions_integration.py
Labels: bug, review-ready

#78 Eliminate hbar from backend API.
  strawberryfields/__init__.py
  strawberryfields/backends/base.py
  strawberryfields/backends/fockbackend/backend.py
  strawberryfields/backends/fockbackend/circuit.py
  strawberryfields/backends/gaussianbackend/backend.py
  strawberryfields/backends/gaussianbackend/gaussiancircuit.py
  strawberryfields/backends/gaussianbackend/states.py
  strawberryfields/backends/states.py
  strawberryfields/backends/tfbackend/backend.py
  strawberryfields/backends/tfbackend/circuit.py
  strawberryfields/backends/tfbackend/states.py
  strawberryfields/engine.py
  strawberryfields/ops.py
  tests/conftest.py
  tests/frontend/test_ops_gate.py
  tests/integration/test_algorithms.py
  tests/integration/test_decompositions_integration.py
  tests/integration/test_ops_integration.py
Labels: backend, enhancement, frontend

#79 Adds test file for program unit tests
  tests/frontend/test_circuitdrawer.py
  tests/frontend/test_engine.py
  tests/frontend/test_program.py
  tests/frontend/test_program_optimizer.py
Labels: review-ready

#80 LocalEngine class
  doc/code/engine.rst
  doc/code/example_use.rst
  doc/op_conventions.rst
  strawberryfields/__init__.py
  strawberryfields/engine.py
  strawberryfields/ops.py
  strawberryfields/parameters.py
  strawberryfields/program.py
  strawberryfields/utils.py
  tests/conftest.py
  tests/frontend/test_engine.py
  tests/frontend/test_program.py
  tests/integration/test_algorithms.py
  tests/integration/test_decompositions_integration.py
  tests/integration/test_engine_integration.py
  tests/integration/test_hbar_integration.py
  tests/integration/test_ops_integration.py
  tests/integration/test_tf_symbolic.py
  tests/integration/test_utils_integration.py
Labels: docs, enhancement, frontend, review-ready

#85 Add about() and cite() functions
  doc/index.rst
  doc/references.bib
  strawberryfields/__init__.py
  tests/frontend/test_about.py
Labels: docs, enhancement, review-ready

#86 Decompositions module docstrings updated.
  doc/code/decompositions.rst
  doc/conventions/decompositions.rst
  doc/conventions/gates.rst
  doc/conventions/states.rst
  doc/index.rst
  doc/references.bib
  doc/references.rst
  doc/xanadu_theme/layout.html
  strawberryfields/decompositions.py
  strawberryfields/program.py
  tests/conftest.py
  tests/frontend/test_decompositions.py
Labels: cleanup, docs, frontend, review-ready

#83 Frontend validation
  doc/code/devicespecs.rst
  doc/conf.py
  doc/index.rst
  setup.py
  strawberryfields/devicespecs/__init__.py
  strawberryfields/devicespecs/base.py
  strawberryfields/devicespecs/chip0.py
  strawberryfields/devicespecs/device_specs.py
  strawberryfields/devicespecs/fock.py
  strawberryfields/devicespecs/gaussian.py
  strawberryfields/devicespecs/tensorflow.py
  strawberryfields/ops.py
  strawberryfields/program.py
  tests/frontend/test_devicespecs.py
  tests/frontend/test_program.py
Labels: enhancement, frontend, review-ready

#71 Backend docstring cleanup
  strawberryfields/backends/base.py
  strawberryfields/backends/fockbackend/__init__.py
  strawberryfields/backends/fockbackend/backend.py
  strawberryfields/backends/fockbackend/circuit.py
  strawberryfields/backends/gaussianbackend/__init__.py
  strawberryfields/backends/gaussianbackend/backend.py
  strawberryfields/backends/tfbackend/__init__.py
  strawberryfields/backends/tfbackend/backend.py
  strawberryfields/backends/tfbackend/circuit.py
  strawberryfields/ops.py
  tests/backend/test_is_vacuum.py
Labels: backend, docs, review-ready
