Repository XanaduAI/strawberryfields, pull requests merged in 2019-07, with the labels that each got.

#114 Update setup.py requirements
  setup.py
Labels: bug

#104 Add a basic glossary to the docs
  doc/glossary.rst
  doc/index.rst
Labels: docs, help wanted

#115 Compilation in stages
  doc/code/program.rst
  doc/conf.py
  strawberryfields/devicespecs/device_specs.py
  strawberryfields/engine.py
  strawberryfields/io.py
  strawberryfields/ops.py
  strawberryfields/program.py
  strawberryfields/program_utils.py
  strawberryfields/utils.py
  tests/frontend/test_io.py
  tests/frontend/test_ops_channel.py
  tests/frontend/test_ops_gate.py
  tests/frontend/test_ops_metaoperation.py
  tests/frontend/test_ops_preparation.py
  tests/frontend/test_program.py
  tests/integration/test_decompositions_integration.py
  tests/integration/test_engine_integration.py
  tests/integration/test_measurement_integration.py
  tests/integration/test_ops_integration.py
Labels: docs, enhancement, frontend

#124 Remove `ModuleNotFoundError` from the codebase and update chip0 spec
  .github/CHANGELOG.md
  strawberryfields/__init__.py
  strawberryfields/_version.py
  strawberryfields/backends/tfbackend/__init__.py
  strawberryfields/circuitspecs/chip0.py
  strawberryfields/parameters.py
  strawberryfields/utils.py
Labels: review-ready

#93 APIClient library
  default_config.toml
  doc/code/api_client.rst
  requirements.txt
  setup.py
  strawberryfields/_dev/configuration.py
  strawberryfields/api_client.py
  tests/frontend/test_api_client.py
  tests/frontend/test_configuration.py
Labels: API

#101 StarshipEngine
  strawberryfields/__init__.py
  strawberryfields/engine.py
  strawberryfields/program.py
  strawberryfields/program_utils.py
  tests/frontend/test_engine.py
Labels: frontend

#126 Engine.run: return_state removed.
  .github/CHANGELOG.md
  strawberryfields/engine.py
  tests/integration/test_engine_integration.py
Labels: enhancement, frontend, review-ready

#125 Decouple backends and CircuitSpecs
  .github/CHANGELOG.md
  strawberryfields/backends/__init__.py
  strawberryfields/backends/base.py
  strawberryfields/backends/fockbackend/backend.py
  strawberryfields/backends/gaussianbackend/backend.py
  strawberryfields/backends/tfbackend/backend.py
  strawberryfields/circuitspecs/__init__.py
  strawberryfields/circuitspecs/base.py
  strawberryfields/engine.py
  strawberryfields/program.py
  tests/backend/test_fock_measurement.py
  tests/frontend/test_engine.py
  tests/integration/test_utils_integration.py
Labels: backend, enhancement

#130 Added target options pass-through
  .github/CHANGELOG.md
  strawberryfields/engine.py
  strawberryfields/program.py
  tests/frontend/test_io.py
Labels: frontend

#131 remove name
  strawberryfields/engine.py
  tests/frontend/test_engine.py
Labels: frontend

#133 fixing typo in boson sampling tutorial
  .github/CHANGELOG.md
  doc/tutorials/tutorial_boson_sampling.rst
Labels: cleanup, docs

#127 Add support for compiling arbitrary unitaries to `Chip0`
  .github/CHANGELOG.md
  doc/_static/clements.png
  doc/_static/reck.png
  doc/conf.py
  doc/conventions/decompositions.rst
  strawberryfields/_version.py
  strawberryfields/backends/states.py
  strawberryfields/circuitspecs/chip0.py
  strawberryfields/circuitspecs/circuit_specs.py
  strawberryfields/circuitspecs/fock.py
  strawberryfields/circuitspecs/gaussian.py
  strawberryfields/circuitspecs/gbs.py
  strawberryfields/circuitspecs/tensorflow.py
  strawberryfields/decompositions.py
  strawberryfields/ops.py
  strawberryfields/program.py
  tests/frontend/test_circuitspecs_chip0.py
  tests/frontend/test_decompositions.py
  tests/frontend/test_ops_decompositions.py
  tests/frontend/test_ops_metaoperation.py
Labels: API, enhancement, frontend, review-ready

#147 Removes wrong description of adjacency matrices
  strawberryfields/decompositions.py
Labels: merge-ready

#144 Add a `sorted()` call to `GBSSpec.compile()`
  strawberryfields/circuitspecs/gbs.py
  tests/frontend/test_program.py
Labels: review-ready

#145 Deprecate the Measure shortcut in favour of MeasureFock
  doc/algorithms/boson_sampling.rst
  doc/algorithms/gaussian_boson_sampling.rst
  doc/code/example_use.rst
  doc/tutorials/blackbird.rst
  doc/tutorials/tutorial_post_selection.rst
  examples/GaussianBosonSampling.ipynb
  strawberryfields/ops.py
  tests/frontend/test_io.py
  tests/frontend/test_ops_metaoperation.py
  tests/frontend/test_program.py
  tests/integration/test_measurement_integration.py
Labels: deprecation, review-ready

#141 Configuration Fixes
  strawberryfields/api_client.py
  strawberryfields/configuration.py
  tests/frontend/test_api_client.py
  tests/frontend/test_configuration.py
Labels: frontend

#148 Starship fixes
  doc/tutorials/starship.rst
  strawberryfields/engine.py
  tests/frontend/test_engine.py
Labels: frontend

#142 APIClient fixes
  strawberryfields/api_client.py
  strawberryfields/configuration.py
  strawberryfields/engine.py
  tests/frontend/test_api_client.py
  tests/frontend/test_configuration.py
Labels: frontend

#146 Add starship helper command
  setup.py
  starship
Labels: frontend

#151 Tutorial interferometer
  doc/index.rst
  doc/tutorials/starship.rst
  strawberryfields/api_client.py
  strawberryfields/engine.py
Labels: review-ready

#150 Bipartite graph embed
  .github/CHANGELOG.md
  strawberryfields/circuitspecs/chip0.py
  strawberryfields/circuitspecs/fock.py
  strawberryfields/circuitspecs/gaussian.py
  strawberryfields/circuitspecs/tensorflow.py
  strawberryfields/decompositions.py
  strawberryfields/ops.py
  tests/frontend/test_decompositions.py
  tests/frontend/test_ops_decompositions.py
  tests/integration/test_decompositions_integration.py
Labels: enhancement, frontend, review-ready
