Repository XanaduAI/strawberryfields, pull requests merged in 2019-04, with the labels that each got.

#53 Fock backend tests conversion to pytest (51)
  .pylintrc
  strawberryfields/backends/fockbackend/tests/conftest.py
  strawberryfields/backends/fockbackend/tests/test_beamsplitter_operation.py
  strawberryfields/backends/fockbackend/tests/test_displaced_squeezed_state_preparation.py
  strawberryfields/backends/fockbackend/tests/test_displacement.py
  strawberryfields/backends/fockbackend/tests/test_displacement_operation.py
  strawberryfields/backends/fockbackend/tests/test_fock_measurement.py
  strawberryfields/backends/fockbackend/tests/test_fock_probabilities.py
  strawberryfields/backends/fockbackend/tests/test_homodyne.py
  strawberryfields/backends/fockbackend/tests/test_loss_channel.py
  strawberryfields/backends/fockbackend/tests/test_modes.py
  strawberryfields/backends/fockbackend/tests/test_nongaussian_gates.py
  strawberryfields/backends/fockbackend/tests/test_rotation_operation.py
  strawberryfields/backends/fockbackend/tests/test_squeeze.py
  strawberryfields/backends/fockbackend/tests/test_squeeze_operation.py
  strawberryfields/backends/fockbackend/tests/test_squeezed_state_preparation.py
  strawberryfields/backends/fockbackend/tests/test_state_preparations.py
Labels: backend

#65 Engine refactor
  doc/code/code.rst
  doc/code/program.rst
  doc/index.rst
  strawberryfields/__init__.py
  strawberryfields/backends/base.py
  strawberryfields/engine.py
  strawberryfields/ops.py
  strawberryfields/parameters.py
  strawberryfields/program.py
  strawberryfields/utils.py
  tests/backend/test_symbolic.py
  tests/conftest.py
  tests/frontend/test_circuitdrawer.py
  tests/frontend/test_engine.py
  tests/frontend/test_ops_channel.py
  tests/frontend/test_ops_decompositions.py
  tests/frontend/test_ops_gate.py
  tests/frontend/test_ops_metaoperation.py
  tests/frontend/test_ops_preparation.py
  tests/frontend/test_program_optimizer.py
  tests/frontend/test_utils.py
  tests/integration/test_algorithms.py
  tests/integration/test_decompositions_integration.py
  tests/integration/test_engine_integration.py
  tests/integration/test_hbar_integration.py
  tests/integration/test_measurement_integration.py
  tests/integration/test_ops_integration.py
  tests/integration/test_parameters_integration.py
  tests/integration/test_utils_integration.py
Labels: enhancement, frontend

#66 Normalizing line endings: CRLF to LF.
  setup.py
  tests/frontend/test_decompositions.py
  tests/frontend/test_shared_ops.py
  tests/integration/test_decompositions_integration.py
  tests/integration/test_engine_integration.py
  tests/integration/test_ops_integration.py
  tests/integration/test_utils_integration.py
Labels: invalid

#67 Remove Command.decomp
  strawberryfields/ops.py
  strawberryfields/program.py
Labels: cleanup

#69 Utils module fixed.
  strawberryfields/utils.py
  tests/frontend/test_utils.py
  tests/integration/test_utils_integration.py
Labels: bug

#68 Adds the ability to save/load SF Programs to/from Blackbird files
  requirements.txt
  setup.py
  strawberryfields/__init__.py
  strawberryfields/io.py
  tests/frontend/test_io.py
Labels: frontend
