Repository XanaduAI/strawberryfields, pull requests merged in 2019-06, with the labels that each got.

#88 Remove TF dependency from Strawberry Fields
  README.rst
  doc/conf.py
  doc/installing.rst
  requirements.txt
  setup.py
  strawberryfields/backends/__init__.py
  strawberryfields/backends/tfbackend/__init__.py
  strawberryfields/parameters.py
  strawberryfields/utils.py
  tests/backend/test_tf_import.py
  tests/conftest.py
  tests/frontend/test_parameters.py
  tests/integration/test_engine_integration.py
  tests/integration/test_parameters_integration.py
  tests/integration/test_tf_symbolic.py
  tests/integration/test_utils_integration.py
Labels: enhancement, review-ready, tensorflow

#87 Addition of rectangular_symmetric_decomposition to decompositions.py
  strawberryfields/decompositions.py
  tests/frontend/test_decompositions.py
Labels: enhancement, frontend, review-ready

#91 New_modes bugfix.
  strawberryfields/devicespecs/base.py
  strawberryfields/devicespecs/fock.py
  strawberryfields/devicespecs/gaussian.py
  strawberryfields/devicespecs/tensorflow.py
  strawberryfields/ops.py
  strawberryfields/program.py
  tests/frontend/test_ops_metaoperation.py
Labels: bug, frontend, review-ready

#90 Fixing broken or skipped tests
  strawberryfields/ops.py
  strawberryfields/utils.py
  tests/frontend/test_ops_decompositions.py
  tests/frontend/test_program.py
  tests/frontend/test_utils.py
  tests/integration/test_decompositions_integration.py
Labels: bug, cleanup, frontend, review-ready

#92 Adds a Program context check to ops.New(). Updates related tests.
  strawberryfields/ops.py
  tests/frontend/test_ops_metaoperation.py
Labels: enhancement, frontend, review-ready

#94 Configuration file for Strawberry Fields
  default_config.toml
  requirements.txt
  setup.py
  strawberryfields/configuration.py
  tests/frontend/test_about.py
  tests/frontend/test_configuration.py
Labels: review-ready

#105 install on win10
  setup.py
Labels: bug, merge-ready

#100 Add shots for Fock measurements to frontend and Gaussian backend
  requirements.txt
  setup.py
  strawberryfields/backends/base.py
  strawberryfields/backends/fockbackend/backend.py
  strawberryfields/backends/fockbackend/circuit.py
  strawberryfields/backends/fockbackend/ops.py
  strawberryfields/backends/gaussianbackend/backend.py
  strawberryfields/backends/gaussianbackend/gaussiancircuit.py
  strawberryfields/backends/gaussianbackend/ops.py
  strawberryfields/backends/gaussianbackend/states.py
  strawberryfields/backends/states.py
  strawberryfields/backends/tfbackend/backend.py
  strawberryfields/backends/tfbackend/circuit.py
  strawberryfields/devicespecs/gaussian.py
  strawberryfields/engine.py
  strawberryfields/ops.py
  strawberryfields/utils.py
  tests/backend/test_fock_measurement.py
  tests/conftest.py
  tests/frontend/test_engine.py
  tests/frontend/test_ops_decompositions.py
  tests/frontend/test_program.py
  tests/integration/test_engine_integration.py
Labels: API, backend, enhancement, frontend

#103 Gbs compiling
  strawberryfields/__init__.py
  strawberryfields/devicespecs/__init__.py
  strawberryfields/devicespecs/base.py
  strawberryfields/devicespecs/chip0.py
  strawberryfields/devicespecs/device_specs.py
  strawberryfields/devicespecs/fock.py
  strawberryfields/devicespecs/gaussian.py
  strawberryfields/devicespecs/gbs.py
  strawberryfields/devicespecs/tensorflow.py
  strawberryfields/io.py
  strawberryfields/ops.py
  strawberryfields/parameters.py
  strawberryfields/program.py
  strawberryfields/program_utils.py
  strawberryfields/utils.py
  tests/frontend/test_io.py
  tests/frontend/test_ops_gate.py
  tests/frontend/test_ops_metaoperation.py
  tests/frontend/test_program.py
  tests/frontend/test_utils.py
Labels: bug, enhancement, frontend, merge-ready

#109 reordering possible measurement eval to happen before cond state prep
  strawberryfields/backends/tfbackend/circuit.py
Labels: backend, bug, tensorflow

#110 Move config file to temp location before release
  strawberryfields/_dev/configuration.py
  tests/frontend/test_configuration.py
Labels: API, frontend
